# ignore the .venv folder
.venv
.env
venv-linux

# node_modules folder in frontend folder
**/node_modules/
**/secrets/

# Python cache artifacts
**/__pycache__/
*.py[cod]

# Next.js build output
**/.next/
